<html th:replace="~{base :: layout (~{:: main})}" xmlns:th="http://www.w3.org/1999/xhtml">
<body>
<main>
    <div>
        <h2 th:if="${usuario.id != null}" th:text="'Alterar Usuário'"></h2>
        <h2 th:if="${usuario.id == null}" th:text="'Cadastrar Usuário'"></h2>
        <form th:action="@{/usuarios/salvar}" th:object="${usuario}" method="post">
            <div class="mb-3">
                <label for="nome" class="form-label">Nome:</label>
                <input type="text" class="form-control" id="nome" th:field="*{nome}" required />
            </div>
            <div class="mb-3">
                <label for="cpfOuCnpj" class="form-label">CPF ou CNPJ:</label>
                <input type="text" class="form-control" id="cpfOuCnpj" th:field="*{cpfOuCnpj}" required />
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email:</label>
                <input type="email" class="form-control" id="email" th:field="*{email}" required />
            </div>
            <div class="mb-3">
                <label for="senha" class="form-label">Senha:</label>
                <input type="password" class="form-control" id="senha" th:field="*{senha}" required />
            </div>
            <div class="mb-3">
                <label for="role" class="form-label">Função:</label>
                <select class="form-select" id="role" th:field="*{role}" required>
                    <option value="ADMIN">ADMIN</option>
                    <option value="USER">USER</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Salvar</button>
        </form>
    </div>
</main>
</body>
</html>