<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org" th:replace="~{base :: layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listagem de Processos</title>
</head>
<body>
<section>
    <div id="about" class="container-fluid about py-5">
        <div class="container py-5">
        <h2 class="text-primary mb-4">Processos</h2>
        <div th:if="${role == 'ROLE_ADMIN'}" class="mb-3">
            <a href="/processos/novo" class="btn btn-primary">Cadastrar Novo Processo</a>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table id="processosTable" class="table table-striped">
                        <thead>
                        <tr>
                            <th>Número</th>
                            <th>Status</th>
                            <th>CPF ou CNPJ do Cliente</th>
                            <th>Partes Envolvidas</th>
                            <th>Ações</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="processo : ${processos}">
                            <td th:text="${processo.numero}"></td>
                            <td th:text="${processo.status}"></td>
                            <td th:text="${processo.clienteCpfOuCnpj}"></td>
                            <td th:text="${processo.partes}"></td>
                            <td>
                                <a th:href="@{/processos/detalhes/{id}(id=${processo.id})}" class="btn btn-info btn-sm">Detalhes</a>
                                <a th:if="${role == 'ROLE_ADMIN'}" th:href="@{/processos/editar/{id}(id=${processo.id})}" class="btn btn-warning btn-sm">Editar</a>
                                <a th:if="${role == 'ROLE_ADMIN'}" th:href="@{/processos/excluir/{id}(id=${processo.id})}" class="btn btn-danger btn-sm" onclick="return confirm('Tem certeza que deseja excluir este processo?');">Excluir</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
</body>
</html>